:root {/*-- sets color variables --*/
  --dark:  #0d4874;
  --ltmid: #63b5d5;
  --dkmid: #16567c;
  --light: #e3eaef;
  --accent: #6495ed;
}
body {
  color: var(--dark); 
  line-height: 1.4; 
  background-image: url("../img/sand.jpg");
}
/*-- default styles for links (in the correct order) --*/
a {color: var(--accent); font-weight: 500; text-decoration: none; transition: all .2s ease-in-out;}
a:visited {color:#305eb3;}
a:hover {color: var(--light);}
a:active {color: var(--dkmid);}
/*-- main nav styles --*/
header.top-nav { 
  background-color: var(--ltmid); 
  padding: 1rem 2rem 1rem 0; 
  display: flex; 
  min-height: 8rem; 
  justify-content: space-between; 
  align-items: center; 
  position: relative; 
  border-bottom: .25rem solid var(--light);
}
nav { 
  flex-basis: 30%; 
  display: flex; 
  justify-content: space-between; 
}
a.nav-link { 
  padding-left: 2.8rem; 
  color: var(--dark); 
  font-weight: 500; 
  text-decoration: none; 
  transition: all .2s ease-in-out; 
}
a.nav-link:hover {
  color: var(--light);  
}
a.nav-link.logo {  
  text-transform: uppercase; 
  font-weight: 900; 
}
a#trigram { 
  display: none;  
}
a#trigram::before { 
  content: '\2630'; 
  font-size: 4rem; 
  position: relative; 
  top: -.5rem; 
  right: 0; 
}
.nav-wrap.mobile {
  position: absolute;
  top: 7rem;
  right: 0;
  background-color: var(--ltmid);
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 1rem 2rem 1rem;
  border-bottom: .25rem solid var(--dark);
}
.nav-wrap.mobile a {
  padding-top: 1rem;
  margin-right: 1rem;
}
a#trigram.tri-mobile::before {
  content: '\00D7'
}
main {
  padding: 1rem 2rem; 
}
/*-- Styles for slideshow --*/
.slideshow {
  background-color: var(--dkmid);
  padding: 0.25rem;
}
.slideshow-wrapper {
  position: relative; 
  margin: auto; 
  max-width: 100%; 
}
.slideshow-wrapper img {
  width: 100%; 
}
.prev, .next {
  cursor: pointer; 
  position: absolute; 
  top: 50%; 
  width: auto; 
  padding: 16px; 
  margin-top: -22px; 
  color: var(--dark);
  font-weight: bold; 
  font-size: 18px; 
  transition: 0.6s ease; 
  border-radius: 0 3px 3px 0; 
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
.next {
  right: 0; 
  border-radius: 3px 0 0 3px; 
}
.prev:hover, .next:hover {
  background-color: var(--ltmid); 
}
.captiontext {
  background: rgba(0,0,0,0.4); 
  color: #f2f2f2; 
  font-size: 22px; 
  padding: 8px 12px; 
  position: absolute; 
  bottom: 8px; 
  width: 100%; 
  text-align: center; 
}
.numberof {
  color: var(--dark); 
  font-size: 12px; 
  padding: 8px 12px; 
  position: absolute; 
  top: 0; 
}
.text-center {
  display: flex;
}
.indicator {
  cursor:pointer; 
  height: auto; 
  width: 25%; 
  margin: 0 2px; 
  background-color: #bbb; 
  display: inline-block; 
  transition: all 250ms ease-in-out; 
  opacity: .5;
}
.indicator img {
  width: 100% !important; 
}
.active, .indicator:hover {
  opacity: 1; 
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade; /*-- webkit prefix  --*/
  -webkit-animation-duration: 1.5s; /*-- webkit prefix --*/
  animation-name: fade; /*-- defines which animation to use --*/
  animation-duration: 1.5s; /*-- sets the duration --*/
}
@-webkit-keyframes fade { /*-- webkit prefix --*/
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade { /*-- sets "fade" animation properties --*/
  from {opacity: .4} /*-- sets start of animation --*/
  to {opacity: 1} /*-- sets end of animation --*/
}
.hero {
  padding: 4rem 0; /*-- top and bottom padding for the container --*/
  display: flex; /*-- declares a flex container --*/
  flex-direction: column; /*-- direction downward --*/
  justify-content: center; /*-- vertical center --*/
  align-items: center; /*-- horizontal center --*/
  background-color: var(--ltmid); /*-- light color --*/
  width: 100vw; /*-- extra wide --*/
  margin: 2rem 0 1rem -2rem; /*-- negative right margin compensates for extra width --*/
  border-top: 0.25rem solid var(--light);
  border-bottom: 0.25rem solid var(--light);
}
.hero > * { /*-- targets all direct children of .hero --*/
  margin: 0; /*-- zeroes their margins --*/
  padding: 0; /*-- zeroes their padding --*/
}
.grid-cont { /*-- styles the main grid container for media cards --*/
  padding: 2rem 0; /*-- top and bottom padding for the grid container --*/
  display: grid; /*-- declares this a grid container --*/
  grid-gap: 2rem; /*-- 2rem top, right, bottom, and left gaps between items --*/
  grid-template-columns: 1fr; /*-- by default, there is 1 column that's 1fr wide --*/
}
@media screen and (min-width: 550px) { /*-- at slightly larger size, there are two equal columns --*/
  .grid-cont {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 768px) { /*-- still two equal columns --*/
  .grid-cont {grid-template-columns: repeat(3, 1fr);}
}
@media screen and (min-width: 1280px) { /*-- next size up, there are three equal columns --*/
  .grid-cont {grid-template-columns: repeat(4, 1fr);}
}
@media screen and (max-width: 768px) {
  .nav-wrap {
    display: none;
  }
  a#trigram {
    display: inherit;
  }
}
.card { /*-- selects .card elements --*/
  padding: 2%; 
  display: flex; 
  flex-direction: column; 
  border-radius: 8px; 
  border: 2px solid var(--dkmid); 
  background-color: var(--light); 
}
.card img { 
  width: 100%; 
  height: auto; 
  max-height: 320px; 
  border-radius: 8px 8px 0 0; 
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--ltmid)
}

.card button { 
  width: 30%; 
  min-width: 6rem; 
  margin: 2rem auto; 
  padding: 1rem 2rem;
  cursor: pointer; 
  transition: all 0.5s ease-in 0s;
  color: var(--dark);
  background: var(--light);
}
.card button:hover {
  border-radius: 60px;
  color: var(--light);
  background: var(--dark);
}
.button--dark {
  border: 2px solid var(--dark);
  color: var(--dark);
}
.button--dark {
  border-color: var(--ltmid);
  background: var(--dark);
}

footer { 
  margin-top: 2rem; 
  background-color: var(--ltmid); 
  padding: 1rem 2rem; 
  display: flex; 
  height: 6rem; 
  justify-content: space-between; 
  align-items: center; 
  border-top: 0.25rem solid var(--light);
}
footer p { 
  width: 100%; 
  text-align: center; 
  font-weight: 500; 
}