:root {/*-- sets color variables --*/
  --dark:  #0d4874;
  --ltmid: #63b5d5;
  --dkmid: #16567c;
  --light: #e3eaef;
  --accent: #6495ed;
}
body {
  color: var(--dark); 
  line-height: 1.4; 
  background-image: url("../img/sand.jpg");
}
/*-- default styles for links (in the correct order) --*/
a {color: var(--accent); font-weight: 500; text-decoration: none; transition: all .2s ease-in-out;}
a:visited {color:#305eb3;}
a:hover {color: var(--light);}
a:active {color: var(--dkmid);}
/*-- main nav styles --*/
header.top-nav { 
  background-color: var(--ltmid); 
  padding: 1rem 2rem 1rem 0; 
  display: flex; 
  min-height: 8rem; 
  justify-content: space-between; 
  align-items: center; 
  position: relative; 
  border-bottom: .25rem solid var(--light);
}
nav { 
  flex-basis: 30%; 
  display: flex; 
  justify-content: space-between; 
}
a.nav-link { 
  padding-left: 2.8rem; 
  color: var(--dark); 
  font-weight: 500; 
  text-decoration: none; 
  transition: all .2s ease-in-out; 
}
a.nav-link:hover {
  color: var(--light);  
}
a.nav-link.logo {  
  text-transform: uppercase; 
  font-weight: 900; 
}
a#trigram { 
  display: none;  
}
a#trigram::before { 
  content: '\2630'; 
  font-size: 4rem; 
  position: relative; 
  top: -.5rem; 
  right: 0; 
}
.nav-wrap.mobile {
  position: absolute;
  top: 7rem;
  right: 0;
  background-color: var(--ltmid);
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 1rem 2rem 1rem;
  border-bottom: .25rem solid var(--dark);
}
.nav-wrap.mobile a {
  padding-top: 1rem;
  margin-right: 1rem;
}
a#trigram.tri-mobile::before {
  content: '\00D7'
}
main {
  padding: 1rem 2rem; 
}
/*-- Styles for slideshow --*/
.slideshow {
  background-color: var(--dkmid);
  padding: 0.5rem;
}
.slideshow-wrapper {
  position: relative; /*-- this allows children to be position absolutely --*/
  margin: auto; /*-- simple centering method--*/  max-width: 100%; /*-- contrains slideshow on largest screens --*/
}
.slideshow-wrapper img {
  width: 100%; /*-- makes slideshow responsive in size --*/
}
.prev, .next {
  cursor: pointer; /*-- changes hover cursor to the hand --*/
  position: absolute; /*-- positions arrows absolutely--*/
  top: 50%; /*-- positions arrows half the height of parent from top --*/
  width: auto; /*-- matches width of parent --*/
  padding: 16px; /*-- adds a little bit of space--*/
  margin-top: -22px; /*-- adjusts position by height of arrows --*/
  color: var(--dark); /*-- sets color for contrast --*/
  font-weight: bold; /*-- selects heavier font --*/
  font-size: 18px; /*-- sets arrow font size --*/
  transition: 0.6s ease; /*-- sets transition speed for arrow hover--*/
  border-radius: 0 3px 3px 0; /*-- slightly rounds inside borders --*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; /*-- prevents users from selecting buttons --*/
}
.next {
  right: 0; /*-- positions next arrow hard right --*/
  border-radius: 3px 0 0 3px; /*-- rounds the outside borders --*/
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8); /*-- gives a background for contrast on hover --*/
}
.captiontext {
  background: rgba(0,0,0,0.4); /*-- transparent black background --*/
  color: #f2f2f2; /*-- sets color to almost white --*/
  font-size: 22px; /*-- sets font size --*/
  padding: 8px 12px; /*-- sets caption padding --*/
  position: absolute; /*-- positions caption text absolutely--*/
  bottom: 8px; /*-- sets position 8px from bottom --*/
  width: 100%; /*-- sets width equal to container width --*/
  text-align: center; /*-- aligns text center --*/
}
.numberof {
  color: var(--dark); /*-- sets color to almost white --*/
  font-size: 12px; /*-- sets font size --*/
  padding: 8px 12px; /*-- sets numberof padding --*/
  position: absolute; /*-- positions numberof text absolutely--*/
  top: 0; /*-- sets position hard to the top--*/
}
.text-center {
  display: flex;
}
.indicator {
  cursor:pointer; /*-- changes hover cursor to the hand --*/
  height: auto; /*-- sets height of pics --*/
  width: 25%; /*-- sets width of pics --*/
  margin: 0 2px; /*-- adds margin between pics --*/
  background-color: #bbb; /*-- sets background color to light gray --*/
  display: inline-block; /*-- displays in a horizontal line --*/
  transition: all 250ms ease-in-out; /*-- allows opacity change to take time --*/
  opacity: .5;
}
.indicator img {
  width: 100% !important; /*-- small images fill available space --*/
}
.active, .indicator:hover {
  opacity: 1; /*-- makes fully visible when hovered  --*/
}
.hero {
  padding: 4rem 0; /*-- top and bottom padding for the container --*/
  display: flex; /*-- declares a flex container --*/
  flex-direction: column; /*-- direction downward --*/
  justify-content: center; /*-- vertical center --*/
  align-items: center; /*-- horizontal center --*/
  background-color: var(--ltmid); /*-- light color --*/
  width: 100vw; /*-- extra wide --*/
  margin: 2rem 0 1rem -2rem; /*-- negative right margin compensates for extra width --*/
  border-top: 0.25rem solid var(--light);
  border-bottom: 0.25rem solid var(--light);
}
.hero > * { /*-- targets all direct children of .hero --*/
  margin: 0; /*-- zeroes their margins --*/
  padding: 0; /*-- zeroes their padding --*/
}
.grid-cont { /*-- styles the main grid container for media cards --*/
  padding: 2rem 0; /*-- top and bottom padding for the grid container --*/
  display: grid; /*-- declares this a grid container --*/
  grid-gap: 2rem; /*-- 2rem top, right, bottom, and left gaps between items --*/
  grid-template-columns: 1fr; /*-- by default, there is 1 column that's 1fr wide --*/
}
@media screen and (min-width: 550px) { /*-- at slightly larger size, there are two equal columns --*/
  .grid-cont {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 768px) { /*-- still two equal columns --*/
  .grid-cont {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 1280px) { /*-- next size up, there are three equal columns --*/
  .grid-cont {grid-template-columns: repeat(3, 1fr);}
}
@media screen and (min-width: 1440px) { /*-- at the largest sizes, there are four equal columns --*/
  .grid-cont {grid-template-columns: repeat(4, 1fr);}
}
@media screen and (max-width: 768px) {
  .nav-wrap {
    display: none;
  }
  a#trigram {
    display: inherit;
  }
}
.card { /*-- selects .card elements --*/
  padding: 2%; /*-- a little bit of flexible space inside the card --*/
  display: flex; /*-- card is a flex container --*/
  flex-direction: column; /*-- flow is downward --*/
  border-radius: 8px; /*-- curved edges --*/
  border: 2px solid var(--dkmid); /*-- dashed border --*/
  background-color: var(--light); /*-- a little bit of light color --*/
}
.card img { /*-- selects image children of .card --*/
  width: 100%; /*-- full width of container --*/
  height: auto; /*-- maintain aspect ratio --*/
  max-height: 320px; /*-- can't be too tall --*/
  border-radius: 8px 8px 0 0; /*-- curved corners, but just on the top --*/
}
.card button { /*-- selects button children of .card elements --*/
  width: 30%; /*-- 1/3rd width of parent (the .card) --*/
  min-width: 6rem; /*-- can't be too narrow --*/
  margin: 2rem auto; /*-- centered it --*/
  padding: 1rem 2rem; /*-- makes space inside the button --*/
  cursor: pointer; /*-- changes the mouse cursor from arrow to pointer --*/
  transition: all 0.5s ease-in 0s;
  color: var(--dark);
  background: var(--light);
}
.card button:hover {
  border-radius: 60px;
  color: var(--light);
  background: var(--dark);
}
.button--dark {
  border: 2px solid var(--dark);
  color: var(--dark);
}
.button--dark {
  border-color: var(--ltmid);
  background: var(--dark);
}

footer { /*-- just some footer styles, nothing weird --*/
  margin-top: 2rem; /*-- adds space above --*/
  background-color: var(--ltmid); /*-- light mid color --*/
  padding: 1rem 2rem; /*-- inside space to match the nav --*/
  display: flex; /*-- might as well --*/
  height: 6rem; /*-- fixed height  --*/
  justify-content: space-between; /*-- horizontal center --*/
  align-items: center; /*-- vertical center --*/
  border-top: 0.25rem solid var(--light);
}
footer p { /*-- targets the footer text --*/
  width: 100%; /*-- p elements are full width of the container --*/
  text-align: center; /*-- centers the text --*/
  font-weight: 500; /*-- mid-weight font --*/
}