:root {/*-- sets color variables --*/
  --dark:  #0d4874;
  --ltmid: #63b5d5;
  --dkmid: #16567c;
  --light: #e3eaef;
  --accent: #6495ed;
}
body {
  color: var(--dark); 
  line-height: 1.4; 
  background-image: url("../img/sand.jpg");
}
/*-- default styles for links (in the correct order) --*/
a {color: var(--accent); font-weight: 500; text-decoration: none; transition: all .2s ease-in-out;}
a:visited {color:#305eb3;}
a:hover {color: var(--light);}
a:active {color: var(--dkmid);}
/*-- main nav styles --*/
header.top-nav { 
  background-color: var(--ltmid); 
  padding: 1rem 2rem 1rem 0; 
  display: flex; 
  min-height: 8rem; 
  justify-content: space-between; 
  align-items: center; 
  position: relative; 
  border-bottom: .25rem solid var(--light);
}
nav { 
  flex-basis: 30%; 
  display: flex; 
  justify-content: space-between; 
}
a.nav-link { 
  padding-left: 2.8rem; 
  color: var(--dark); 
  font-weight: 500; 
  text-decoration: none; 
  transition: all .2s ease-in-out; 
}
a.nav-link:hover {
  color: var(--light);  
}
a.nav-link.logo {  
  text-transform: uppercase; 
  font-weight: 900; 
}
a#trigram { 
  display: none;  
}
a#trigram::before { 
  content: '\2630'; 
  font-size: 4rem; 
  position: relative; 
  top: -.5rem; 
  right: 0; 
}
.nav-wrap.mobile {
  position: absolute;
  top: 7rem;
  right: 0;
  background-color: var(--ltmid);
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 1rem 2rem 1rem;
  border-bottom: .25rem solid var(--dark);
}
.nav-wrap.mobile a {
  padding-top: 1rem;
  margin-right: 1rem;
}
a#trigram.tri-mobile::before {
  content: '\00D7'
}
@media screen and (max-width: 900px) {
  .nav-wrap {
    display: none;
  }
  a#trigram {
    display: inherit;
  }
}
main {
  padding: 1rem 2rem; 
}
/*-- Styles for slideshow --*/
.slideshow {
  background-color: var(--dkmid);
  padding: 0.25rem;
}
.slideshow-wrapper {
  position: relative; 
  margin: auto; 
  max-width: 100%; 
}
.slideshow-wrapper img {
  width: 100%; 
}
.prev, .next {
  cursor: pointer; 
  position: absolute; 
  top: 50%; 
  width: auto; 
  padding: 16px; 
  margin-top: -22px; 
  color: var(--dark);
  font-weight: bold; 
  font-size: 18px; 
  transition: 0.6s ease; 
  border-radius: 0 3px 3px 0; 
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
.next {
  right: 0; 
  border-radius: 3px 0 0 3px; 
}
.prev:hover, .next:hover {
  background-color: var(--ltmid); 
}
.captiontext {
  background: rgba(0,0,0,0.4); 
  color: #f2f2f2; 
  font-size: 22px; 
  padding: 8px 12px; 
  position: absolute; 
  bottom: 8px; 
  width: 100%; 
  text-align: center; 
}
.numberof {
  color: var(--dark); 
  font-size: 12px; 
  padding: 8px 12px; 
  position: absolute; 
  top: 0; 
}
.text-center {
  display: flex;
}
.indicator {
  cursor:pointer; 
  height: auto; 
  width: 25%; 
  margin: 0 2px; 
  background-color: #bbb; 
  display: inline-block; 
  transition: all 250ms ease-in-out; 
  opacity: .5;
}
.indicator img {
  width: 100% !important; 
}
.active, .indicator:hover {
  opacity: 1; 
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade; 
  -webkit-animation-duration: 1.5s;
  animation-name: fade; 
  animation-duration: 1.5s; 
}
@-webkit-keyframes fade { 
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade { 
  from {opacity: .4} 
  to {opacity: 1} 
}
.hero {
  padding: 4rem 0; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  background-color: var(--ltmid); 
  width: 100vw; 
  margin: 2rem 0 1rem -2rem; 
  border-top: 0.25rem solid var(--light);
  border-bottom: 0.25rem solid var(--light);
}
.hero > * { 
  margin: 0; 
  padding: 0; 
}
/*-- ----------
- GRID STYLES -
---------------*/
.main-grid {
  margin-top: 3.5rem;
  display: grid; 
  grid-gap: 1.5rem; 
  grid-template-columns: 1fr; 
}
/*-- grid media queries--*/
@media screen and (min-width: 550px) { 
  body {width: 100%;}
  .main-grid {grid-template-columns: repeat(2, 1fr);}  
}
@media screen and (min-width: 768px) {
  body {width: 100%;}
  .main-grid {grid-template-columns: repeat(3, 1fr);} 
}
@media screen and (min-width: 990px) {
  body {width: 100%;}
  .main-grid {grid-template-columns: repeat(4, 1fr);} 
}
@media screen and (min-width: 1280px) {
  body {width: 100%;}
  .main-grid {grid-template-columns: repeat(4, 1fr);} 
}
/*-- media card styles -- */
.main-grid-item {
  border-radius: 4px; 
  padding: .5em; 
  background-color: var(--light);
  border: 2px solid var(--dark);
}
.thumb {
  padding-bottom: 56%; 
  background-size: cover; 
  background-position: center center; 
  border-radius: 4px 4px 0 0; 
}
/*-- Card Backgrounds --*/
.one .thumb {background-image: url('https://picsum.photos/id/1038/480/320');}
.two .thumb {background-image: url('https://picsum.photos/id/1015/480/320');}
.three .thumb {background-image: url('https://picsum.photos/id/1041/480/320');}
.four .thumb {background-image: url('https://picsum.photos/id/1053/480/320');}
.five .thumb {background-image: url('https://picsum.photos/id/1061/480/320');}
.six .thumb {background-image: url('https://picsum.photos/id/124/480/320');}
.seven .thumb {background-image: url('https://picsum.photos/id/1001/480/320');}
.eight .thumb {background-image: url('https://picsum.photos/id/1019/480/320');}
.nine .thumb {background-image: url('https://picsum.photos/id/130/480/320');}
.ten .thumb {background-image: url('https://picsum.photos/id/1005/480/320');}
.eleven .thumb {background-image: url('https://picsum.photos/id/1050/480/320');}
.twelve .thumb {background-image: url('https://picsum.photos/id/100/480/320');}
/*----*/
.card-content {
  padding: 0 .5em .7em .5em;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.card-title {
  margin: 1rem 0 0 0;
  text-transform: uppercase; 
  align-self: flex-start; 
  color: var(--dark);
}
.card-text {
  font-size: .80em;
  line-height: 1.2;
  align-self: flex-start;
  color: var(--dark);
}
.btn {  
  font-family: Arial, Helvetica, sans-serif;  
  text-transform: uppercase;
}  
.btn:hover .btn-slide-show-text1 {  
  margin-left: 65px;
}  
.btn-rect-to-round {  
  height: 45px;  
  width: 135px;  
  font-size: 16px;  
  font-weight: 600;  
  background: transparent;  
  cursor: pointer;  
  transition: all 0.35s ease-in 0s;
}  
.btn-rect-to-round:hover {  
  border-radius: 60px;  
  color: var(--light) !important;
}  
.btn-rect-to-round--black {  
  border: 2px solid var(--ltmid);  
  color: var(--dark) !important;
}  
.btn-rect-to-round--black:hover {  
  border-color: var(--ltmid);  
  background: var(--dark);
}
/*-- Modal Styles --*/
/* The Modal (background) */
.modal {
   display: none;/*-- hidden by default --*/
   position: fixed; /*-- doesn't move on the screen --*/
   z-index: 1100; /*-- sets higher than anything else so modal is in the very front --*/
   left: 0; /*-- positions at zero pixels from the left --*/
   top: 0; /*-- positions at zero pixels from the top --*/
   width: 100%; /*-- fills the space --*/
   height: 100%; /*-- fills the space --*/
   overflow: auto; /*-- handles overflow as normal. --*/
   background-color: rgba(10, 10, 10, .4); /*--slightly transparent--*/
}
.modal-content {
   background-color: var(--light);
   color: var(--dark);
   border: 2px solid var(--dark);
   margin: 1rem auto;
   padding: 1em;
   width: 92%;
   border-radius: 4px;
   animation: fadein .3s ease-in-out; /*-- sets animation properties: name, duration, easing --*/
}
@keyframes fadein {
  from{transform:scale(.1);} /*-- modal grows from very small to full size--*/
}
.close {
   color: var(--dark);
   font-size: 2.5em;
   font-weight: bold;
   position: absolute; /*-- always at the top right of the modal --*/
   top: 5px;
   right: 4.25%;
   transition: all .2s ease-in;
   text-shadow: 2px 2px 5px #FAFAFA,
               -2px -2px 5px #FAFAFA,
               2px -2px 5px #FAFAFA,
               -2px 2px 5px #FAFAFA;
}
.close:hover,
.close:focus {
   color: var(--ltmid);
   text-decoration: none;
   cursor: pointer;
}
.modal-body {
  display: grid;
  grid-template-columns: 1fr; /*-- default modal grid (for mobile screens)--*/
  grid-gap: 2em;
}
.eg-text {
  align-self: center;
}
.eg-text h3 {
  margin-top: 0;
  padding-top: 0;
}
.modal-body img {
  margin-bottom: 1.5em;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1280px) { /*-- better modal display on largest screens --*/
  .modal-body {grid-template-columns: 7fr 5fr;}
}
footer { 
  margin-top: 2rem; 
  background-color: var(--ltmid); 
  padding: 1rem 2rem; 
  display: flex; 
  height: 6rem; 
  justify-content: space-between; 
  align-items: center; 
  border-top: 0.25rem solid var(--light);
}
footer p { 
  width: 100%; 
  text-align: center; 
  font-weight: 500; 
}